.designDetails-content {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.5;
  font-size: 22px;
}

.designDetails-content img {
  width: 100%;
}

.designDetails-content-title {
  font-size: 50px;
  text-align: center;
}

.designDetails-content-maker {
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  padding: 20px 0;
}

.designDetails-content-art1Title,
.designDetails-content-art2Title {
  font-size: 38px;
  padding-top: 25px;
}

.designDetails-content-art1Text,
.designDetails-content-art2Text {
  padding: 20px 0;
}

.designDetails-content-actions {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 10px 0;
}

.designDetails-content-buttons-like {
  background: black;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 20px;
}

.designDetails-content-buttons-like i {
  padding-right: 10px;
}

.designDetails-content-buttons-edit,
.designDetails-content-buttons-delete {
  text-decoration: none;
  color: black;
  padding-right: 30px;
}
