.main-banner-img img {
  width: 100%;
}

.main-banner-text {
  position: absolute;
  top: 30%;
  left: 15%;
  max-width: 500px;
  color: white;
}

.main-banner-text-title {
  font-size: 48px;
}

.main-banner-text-subtext {
  font-size: 22px;
}

.designer-banner {
  display: flex;
  align-items: center;
}

.designer-banner-img {
  width: 80%;
}

.designer-banner-img img {
  width: 100%;
}

.designer-banner-text {
  width: 50%;
}

.designer-banner-text-title {
  width: 63%;
}

.designer-banner-text-subtext {
  width: 58%;
}

.color-banner {
  background-image: url("https://wallpaperaccess.com/full/1092587.jpg");
  background-size: cover;
  color: white;
  text-align: center;
  padding: 80px 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-banner-icon img {
  width: 40%;
}

.color-banner-title {
  font-size: 45px;
  text-align: center;
  position: relative;
  padding: 10px 0 20px 0;
}

.art-banner {
  display: flex;
  align-items: center;
  padding: 0 15%;
}

.art-banner-img img {
  width: 125%;
}

.art-banner-text {
  padding-right: 74px;
}

.designer-banner-text-title,
.art-banner-text-title {
  font-size: 33px;
}

.designer-banner-text-subtext,
.art-banner-text-subtext {
  font-size: 20px;
}
