.designCreation-ctn {
    height: 830px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.designCreation-card {
    background-color: black;
    color: white;
    padding: 42px 55px 45px 55px;
}

.designCreation-title {
    font-size: 32px;
    padding-bottom: 44px;
}

.designCreation-form article {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    padding-bottom: 13px;
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
  }
  
  .designCreation-form label {
    width: 100%;
  }
  
  .designCreation-form input {
    background: transparent;
    border: none;
  }
  
  .designCreation-form input:focus {
    outline: none
  }
  